# Ignore Dirs
**/build_kernel/
**/AnyKernel3/
**/clang/
**/gas/
**/gcc-64/
**/gcc-32/
**/out/
**/oem_kernel/
**/clo_kernel/
**/ack_kernel/
.vscode/
.venv/

# Ignore Files
**/clang.tgz
**/build.log
**/transfer.txt
